@import "../../Helpers/mixins";
@import "../../Helpers/variables";

.latestNews {
  width: 100%;
  padding: $sectionPadding 0;
  .newsContainer {
    h1 {
      color: $headingColor;
      font-size: 30px;
      font-weight: 600;
      padding: 10px 0;
      margin: 0 auto 25px;
      position: relative;
      width: fit-content;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        height: 5px;
        background-color: $mainColor;
      }
    }
    .news {
      display: flex;
      flex-direction: column;

      .new {
        width: 100%;
        margin-bottom: 25px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        .image {
          width: 100%;
          height: 300px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .content {
          padding: 20px;
          h3 {
            font-size: 25px;
            color: $headingColor;
            font-weight: 700;
            margin-bottom: 15px;
            cursor: pointer;
            transition: color $hoverTransition;
            &:hover {
              color: $mainColor;
            }
          }
          p {
            color: $paragraphColor;
            line-height: 1.6;
          }
          div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 15px;
            span {
              display: flex;
              align-items: center;
              color: $paragraphColor;
              svg {
                color: $mainColor;
                margin-right: 5px;
              }
            }
          }
        }
      }
      @include mediaQuery(800px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        .new {
          width: 48%;
          .image {
            height: 220px;
          }
          .content {
            h3 {
              font-size: 22px;
            }
          }
        }
      }
      @include mediaQuery(large) {
        .new {
          width: 30%;
        }
      }
    }
  }
}
