@import "../../../Helpers/mixins";
@import "../../../Helpers/variables";

.infoNav {
  width: 100%;
  background-color: #eee;
  height: 40px;
  line-height: 40px;
  .infoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .contact {
      flex: 1;
      a {
        position: relative;
        margin-right: 20px;
        svg {
          color: $mainColor;
        }
        span {
          display: none;
        }
      }
    }

    .icons {
      a {
        .wrapper {
          position: relative;
          display: inline;
          [role="tooltip"] {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 80%;
            left: -50%;
            padding: 0 7px;
            font-size: 14px;
            height: 30px;
            line-height: 30px;
            background-color: #111;
            border-radius: 5px;
            color: #fff;
            transition: opacity $hoverTransition, visibility $hoverTransition;
          }
        }
        transition: color $hoverTransition;
        position: relative;
        color: rgb(123, 121, 121);
        &:hover {
          color: $mainColor;
          .wrapper [role="tooltip"] {
            opacity: 1;
            visibility: visible;
          }
        }
        svg {
          margin-left: 10px;
          font-size: 15px;
        }
      }
    }
  }
  @include mediaQuery(meduim) {
    .infoContainer {
      .contact {
        a {
          display: inline-flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: row;
          svg {
            margin-right: 7px;
          }
          span {
            display: inline;
            font-size: 14px;
            color: #625f5f;
          }
        }
      }
    }
  }
}
